* {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  background-color: #f8f4e8;
}

body {
  background-color: #f8f4e8;
}

/* Header */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #065e7f;
  color: white;
}

#nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
}

#nav-left {
  display: flex;
  padding: 10px;
}

h1 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#hamburger {
  border: none;
  background: none;
  font-size: xx-large;
  padding: 10px;
  color: white;
}

#hamburger:hover {
  cursor: pointer;
}

#hamburger::before {
  content: "☰";
}

#hamburger.open-ham::before {
  content: "X";
}

ul {
  display: none;
  list-style: none;
}

ul a {
  color: white;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

.open-nav {
  padding: 0px;
  display: block;
  width: 100%;
  text-align: center;
}

.open-nav li {
  display: block;
}

.open-nav a {
  display: block;
  padding: 15px;
  border-bottom: 2px solid white;
}

.open-nav > :first-child {
  border-top: 2px solid white;
}

.active {
  color: white;
  text-decoration: 2px underline;
  text-underline-offset: 3px;
}

/* Footer */
footer {
  background-color: #065e7f;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

#social-footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #f8f4e8;
  border-radius: 5px;
  width: 150px;
  margin: 20px auto;
}

#social-footer a img {
  width: 60px;
  height: 60px;
}

#social-footer a {
  display: block
}

/* Home Page Hero Banner vvv */
#hero {
  text-align: center;
  position: relative; 
  width: 100%;
  height: 350px; 
  border-bottom: 5px solid gray;
}


#hero-right {
  position: relative;
  overflow: hidden;
}

#hero-left {
  position: absolute;
  top: 50px; 
  left: 20px;
  right: 20px; 
  z-index: 1;
  color: white; 
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 5px;
  padding: 10px; 
  max-width: 500px;
  margin: 0 auto;
}

#hero-left h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#hero-left h2, #hero-left p, #hero-left a {
  margin: 20px;
}

#hero-left a {
  display: inline-block;
  color: white;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

/* Home Page Dice Card vvv */
#dice {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dice-text {
  color: white; 
  background-color: #545454; 
  border-radius: 5px;
  padding: 10px; 
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#dice-text p {
  padding: 10px;
}

#dice-text a {
  display: inline-block;
  color: white;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

/* Home Page Feedback Card vvv */
#feedback {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feedback-text {
  color: white; 
  background-color: #545454; 
  border-radius: 5px;
  padding: 10px; 
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
  order: 2;
}

#feedback img {
  order: 1;
}

#feedback-text a {
  display: inline-block;
  color: white;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

#feedback-text p {
  padding: 10px;
}

/* Dice Roller Page */
#dice-header {
  background-color: #545454;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

#dice-header h2 {
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#dice-header p {
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

#dice-cards {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.dice-roller {
  width: 250px;
  margin: 32px auto;
  padding: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 5px solid gray;
}

#d4 {
  border-top: 5px solid gray;
}

.dice-roller img {
  width: 250px;
  height: 250px;
  margin-bottom: 32px;
}

.dice-roller button {
  margin: 16px;
  padding: 20px 50px;
  border-radius: 6px;
}

.dice-roller button:hover {
  cursor: pointer;
}

.dice-roller span {
  background-color: #EFEFEF;
  border: 2px solid black;
  padding: 20px 50px;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  align-self: center;
  border-radius: 6px;
}

/* Form Feedback Page */
#form-heading {
  margin: 32px auto;
  text-align: center;
  background-color: #545454;
  padding: 20px;
  color: white;
  border-radius: 5px;
  width: fit-content;
  width: 60%;
}

#form-heading p {
  margin: 10px;
  text-align: center;
  justify-self: center;
  width: 80%;
}

#form-heading h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 80%;
  margin: 0 auto;
}

#feedback-form fieldset {
  max-width: 500px;
  margin: 20px;
  justify-self: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
  background-color: #EFEFEF;
}

#feedback-form label {
  display: block;
}

#feedback-form select {
  background-color: white;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 17px;
  color: #555;
  width: 100%;
  appearance: none;
  margin: .5rem 0;
}

#rating {
  margin-top: 40px;
}

#radioButtons {
  display: flex;
  margin: .2rem;
  justify-content: space-between;
  align-items: center;
}

.ratingButton {
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

#dateLabel {
  margin-top: 4px;
  max-width: 90%;
}

#reviewDate {
  display: block;
  background-color: white;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 17px;
  color: #555;
  width: 100%;
  appearance: none;
  margin: 8px 0;
}

#favFeatureLabel {
  margin-top: 40px;
}

#reviewLabel {
  margin-top: 32px;
  margin-bottom: 4px;
}

#suggestionLabel {
  margin-top: 32px;
  margin-bottom: 4px;
}

.writtenReview {
  width: 100%;
  border: solid 1px #999;
  border-radius: 6px;
  margin-top: .5rem;
}

#nameLabel {
  margin-top: 40px;
}

#name {
  display: block;
  background-color: white;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 17px;
  color: #555;
  width: 90%;
  appearance: none;
  margin: 4px 0;
}

#giveSuggestion {
  width: 100%;
  margin-top: 32px;
  padding: 18px;
  border: solid 1px #999;
  background-color: #065e7f;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  border-radius: 6px;
  font-size: large;
  font-weight: bold;
  appearance: none;
}

.blue {
  color: #0707a2;
  font-size: smaller;
}

form {
  margin-bottom: 32px;
}

/* Form Feedback Success Page */
#form-results {
  text-align: center;
}

#form-results h2 {
  margin: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#results {
  width: 60%;
  margin: 10px auto;
  background-color: #545454;
  border-radius: 5px;
}

.results-title {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#results p {
  color: white;
  text-align: left;
  padding: 10px;
}

#form-results h3 {
  width: 70%;
  margin: 30px auto;
}

#form-results p {
  margin: 30px;
  font: bold;
}

/* Tips Page Intro Heading Box vvv */
#intro {
  margin: 32px auto;
  text-align: center;
  background-color: #545454;
  padding: 20px;
  color: white;
  border-radius: 5px;
  width: fit-content;
  width: 60%;
}

#intro p {
  margin: 20px 10px 10px;
  text-align: center;
  justify-self: center;
  width: 80%;
}

#intro h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 80%;
  margin: 0 auto;
}

/* Tips Page "What" Section vvv */
#what {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

#what-text {
  color: white; 
  background-color: #545454; 
  border-radius: 5px;
  padding: 10px; 
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
  order: 1;
}

#what img {
  order: 2;
}

#what-text p {
  padding: 10px;
}

#what-text h3 {
  padding: 10px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Tips Page "Starting" Section vvv */
#starting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

#starting-text {
  color: white; 
  background-color: #545454; 
  border-radius: 5px;
  padding: 10px; 
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
  order: 1;
}

#starting-text li {
  padding: 10px;
}

#starting-text ol {
  padding-top: 10px;
}

#starting-text h3 {
  padding: 10px 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#starting img {
  order: 2;
}

/* Tips Page "Characters" Section vvv */
#characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

#characters-text {
  color: white; 
  background-color: #545454; 
  border-radius: 5px;
  padding: 10px; 
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
  order: 1;
}

#characters img {
  order: 2;
}

#characters-text p {
  padding: 10px;
  text-align: center;
}

#characters-text li {
  padding: 10px;
}

#characters-text ol {
  padding-top: 10px;
}

#characters-text h3 {
  padding: 10px 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Tips Page "Where" Section vvv */
#where {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

#where-text {
  color: white; 
  background-color: #545454; 
  border-radius: 5px;
  padding: 10px; 
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
  order: 1;
}

#where-text li {
  padding: 10px;
}

#where-text ol {
  padding-top: 10px;
}

#where-text h3 {
  padding: 10px 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#where img {
  order: 2;
}

#where-text p {
  padding: 10px;
  text-align: center;
}

/* Tips Page "Tools" Section vvv */
#tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}

#tools-text {
  color: white; 
  background-color: #545454; 
  border-radius: 5px;
  padding: 10px; 
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
  order: 1;
}

#tools img {
  order: 2;
}

#tools-text p {
  padding: 10px;
  text-align: center;
}

#tools-text li {
  padding: 10px;
}

#tools-text ol {
  padding-top: 10px;
}

#tools-text h3 {
  padding: 10px 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Tips Page Monster Cards */
#monsters-title {
  text-align: center;
  width: 70%;
  margin: 0 auto 40px;
}

#monsters {
  display: flex;
  flex-direction: column;
}

#monsters div {
  margin: 30px auto;
  padding: 30px;
  max-width: 300px;
  text-align: center;
  background-color: #545454;
  border-radius: 5px;
  color: white;
}

#monsters div h3 {
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#monsters div button {
  padding: 12px;
  border-radius: 5px;
}

#monsters div button:hover {
  cursor: pointer;
}

#modal {
  margin: auto auto;
  background-color: #065e7f;
  color: white;
  padding: 30px;
}

#modal div {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

#modal div button {
  padding: 9px;
  font-size: larger;
  height: 44px;
  align-self: center;
}

#modal div button:hover {
  cursor: pointer;
}

#modal p {
  padding: 5px;
}

/* Tips Page content above Footer vvv */
main h2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 30px;
}

@media screen and (min-width: 860px) {
  /* Header vvv */
  nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
  }

  nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 50%;
  }

  .open-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
  }

  .open-nav li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 100%;
  }

  .open-nav a {
      display: block;
      padding: 15px;
      border-bottom: none;
  }
  
  .open-nav > :first-child {
      border-top: none;
  }

  #hamburger {
      display: none;
  }

  /* Footer vvv */
  footer {
      display: flex;
      justify-content: space-between;
  }

  #social-footer {
      margin: 0 auto;
  }

  /* Home Page Hero Banner vvv */
  #hero {
    position: static;
    display: flex;
    width: 95%;
    margin: 0 auto;
  }


  #hero-right {
    position: static;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
  }

  #hero-right img {
    margin: 0 auto;
  }

  #hero-left {
    position: static; 
    background-color: #545454; 
    max-width: 580px;
    max-height: fit-content;
    align-self: center;
    margin: 0 auto;
  }

  /* Home Page Dice Card vvv */
  #dice {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
  }

  #dice img {
    margin-right: 20px;
  }

  #dice-text {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
  }

  /* Feedback Card vvv */
  #feedback {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    order: 1;
  }

  #feedback img {
    order: 2;
  }

  #feedback-text {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
  }

  #feedback img {
    margin-left: 20px;
  }

  /* Dice Roller Page */
  #dice-header {
    background-color: #545454;
    width: 40%;
    margin: 20px auto;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }

  /* Tips Page "What" Section vvv */
  #what {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 80px auto 130px;
    order: 1;
  }

  #what img {
    order: 2;
  }
    
  #what-text {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
  }
    
  #what img {
    margin-left: 50px;
  }

  /* Tips Page "Starting" Section vvv */
  #starting {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 130px auto;
    order: 2;
  }

  #starting img {
    margin-right: 20px;
    order: 1;
  }

  #starting-text {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
  }

  /* Tips Page "Characters" Section vvv */
  #characters {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 130px auto;
    order: 1;
  }

  #characters img {
    order: 2;
  }
    
  #characters-text {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
  }
    
  #characters img {
    margin-left: 50px;
  }

  /* Tips Page "Where" Section vvv */
  #where {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 130px auto;
    order: 2;
  }

  #where img {
    margin-right: 20px;
    order: 1;
  }

  #where-text {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
  }

  /* Tips Page "Tools" Section vvv */
  #tools {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 130px auto;
    order: 1;
  }

  #tools img {
    order: 2;
  }
    
  #tools-text {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
  }
    
  #tools img {
    margin-left: 50px;
  }

  /* Tips Page Monster Cards */
  #monsters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
  }
}

@media screen and (min-width: 699px) {
  #d4 {
      border-top: none;
  }
}
